table.fill_data{
	width:100%;
	
}
th{
	background-color: #4CAF50;
    color: white;
   
    padding: 15px;
}
td.fill_data{
	padding: 15px;
	align:centre;
	
}
textarea.fill_data{
	width:100%;
	font-size:16px;
	border:solid 2px;
	
}
select.fill_data{
	align:center;
	width:100%;
	font-size:16px;
	
}
option{
	font-size:16px;
	
}
.fillbtn
	{
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    font-size: 20px;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

